        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="http://rodrigodavies.github.io/blog/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="http://rodrigodavies.github.io/blog/css/main.css">
        <!-- {% include search.html %} -->