---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
	{{ content }}
	</div>

        <div class="footer">
          <div id="page-navigation"> 
            <div class="left"> 
              {% if page.previous.url %} 
                      <a href="{{page.previous.url}}" title="Previous Post: 
      {{page.previous.title}}"> &laquo; Previous Post: {{page.previous.title}}</a> 
              {% endif %} 
              </div> 

            <div class="right"> 
              {% if page.next.url %} 
                <a href="{{ site.baseurl }}{{page.next.url}}" title="{{ site.baseurl }}{{page.next.title}}">Next Post: {{page.next.title}} &raquo; </a> 
             {% endif %} 
            </div> 
          </div> 