---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
	{{ content }}

  <div>
            <a href="https://flattr.com/submit/auto?user_id=rodrigodavies&url=http%3A%2F%2Fwww.rodrigodavies.com%2Fblog" target="_blank"><img src="//api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" style="max-width:16%; border-radius:0; margin-top:-20px; float: right;"></a>  
            </div>
	</div>

        <div class="footer">
          <div id="page-navigation"> 
            <div class="left"> 
              {% if page.previous.url %} 
                      <a href="{{ site.baseurl }}{{page.previous.url}}" title="Previous Post: 
      {{page.previous.title}}"> &laquo; Previous Post: {{page.previous.title}}</a> 
              {% endif %} 
              </div> 

            <div class="right"> 
              {% if page.next.url %} 
                <a href="{{ site.baseurl }}{{page.next.url}}" title="{{ site.baseurl }}{{page.next.title}}">Next Post: {{page.next.title}} &raquo; </a> 
             {% endif %} 
            </div> 
          </div> 